@page "/plans/addplan"
@inject PlansService planService
@inject IFileReaderService fileReaderService
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Add a new plan</h3>

<div class="row">
    <EditForm Model="model" Style="width:100%">
        <RadzenCard>
            <AlertMessage Message="@message" MessageType="@messageType" />
            <DataAnnotationsValidator />
            <ValidationSummary />
            <RadzenTextBox Placeholder="Title" Style="margin:10px" />
            <RadzenTextArea Placeholder="Description" Style="margin:10px" />
            <input  @onmousemove="@Mouse_Move" @onmouseout="@Mouse_Out" type="file" style="margin:10px; width:30%" @ref="inputReference" @onchange="async () => await ChooseFileAsync()" />
            <img  style="width:50%; margin:auto" src="@imageContent" />
            <div style="visibility:@Visibility; margin:10px; font-size:small">
                <i>.jpg, .png, .bmp</i>
            </div>
            <hr />
            <RadzenButton Text="Insert" class="btn btn-block" ButtonStyle="Radzen.ButtonStyle.Success" Style="margin:auto; width:30%" />


        </RadzenCard>
    </EditForm>

</div>

@code {
    public string Visibility { get; set; } = "hidden";

    PlanRequest model = new PlanRequest();

    System.IO.Stream fileStream = null;
    string imageContent = string.Empty;
    string fileName = string.Empty;
    string message = string.Empty;
    Models.AlertMessageType messageType = Models.AlertMessageType.Success;

    ElementReference inputReference;

    protected void Mouse_Move(MouseEventArgs args)
    {
        Visibility = "visible";
    }

    protected void Mouse_Out(MouseEventArgs args)
    {
        Visibility = "hidden";
    }

    async Task ChooseFileAsync()
    {
        var file = (await fileReaderService.CreateReference(inputReference).EnumerateFilesAsync()).FirstOrDefault();
        var fileInfo = await file.ReadFileInfoAsync();
        //to validate file extension
        string extension = System.IO.Path.GetExtension(fileInfo.Name);
        var allowedExtensions = new string[] { ".jpg", ".png", ".bmp" };

        if (!allowedExtensions.Contains(extension))
        {
            message = "The choosen file is invalid image file";
            messageType = Models.AlertMessageType.Error;
            return;
        }

        message = null;

        using (var memoryStream = await file.CreateMemoryStreamAsync())
        {
            fileStream = new System.IO.MemoryStream(memoryStream.ToArray());
            //Convert byte code of the image to the string representation
            imageContent = $"data:{fileInfo.Type};base64,{Convert.ToBase64String(memoryStream.ToArray())}";
        }
    }
}
